<%= provide(:title, 'Edit') %>

<div class="row">
	<div class="col-md-4 col-md-offset-1">
	<%= render 'shared/title', title: 'Edit Post' %>
	<%= render 'form' %>
	</div>
	<br>	
</div>
<hr>
<div class="col-md-offset-1">
	<%= link_to 'Back', articles_path(@article), class: "btn btn-primary" %>
</div>