<%= provide(:title, 'New Post') %>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
  <%= render 'shared/title', title: 'New Post' %>
  <%= render 'form' %>
  </div>
  <br>  
</div>
<hr>
<div class="col-md-offset-1">
  <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
</div>