<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright © 2015 Kevin Hsiao
    <br>Designed by <a href="https://github.com/KevinHsiao178" target=_new>Kevin Hsiao</a>
  </p>
</footer>